<table
    style='margin-top: 25px; padding-top: 25px; border-top: 1px solid #eaeaec '
    cellpadding='0'
    cellspacing='0'
    role='presentation'
>
    <tr>
        <td>
            <p
                style='margin-bottom: 5px; margin-top: 6px; font-size: 16px; font-weight: 600; line-height: 24px; color: #51545E ; text-align:center; margin:auto'
            >
                Disclaimer
            </p>
            <p
                style='margin-bottom: 5px; margin-top: 6px; font-size: 12px; line-height: 24px; color: #51545E'
            >
                The information and data provided on the InCred Money platform concerning unlisted
                equities are solely for informational purposes and should not be interpreted as a
                recommendation or solicitation to invest. InCred Money and its representatives are
                not SEBI-registered research analysts or advisors. Any research, analysis, or
                information presented on this platform does not constitute investment advice or a
                recommendation by InCred Money or its affiliates. Investors are strongly encouraged
                to perform their own thorough research and due diligence before making any
                investment decisions. Any decision to invest or not to invest shall be at your own
                discretion. Unlisted equities carry a higher risk profile compared to listed
                securities, including but not limited to liquidity risk, regulatory risk, and market
                volatility. Potential investors should be aware of these risks and consider them
                carefully. It is highly recommended that investors consult with their own financial
                advisors to understand the suitability of such investments in the context of their
                personal financial situation, investment objectives, and risk tolerance.
                Additionally, investors should read and fully understand the detailed risk profile
                and disclosures attached to the unlisted equities before proceeding with any
                investment. The information mentioned on the platform is based on publicly available
                data and to the best of our knowledge, does not constitute insider information.
                Pre-IPO shares are unlisted securities, but this should not be interpreted as InCred
                Money guaranteeing or confirming that an IPO will take place for these shares. The
                decision to proceed with an IPO is entirely at the discretion of the issuing
                company, which may choose not to go public. InCred Money is the brand name of Alpha
                Fintech Private Limited with its registered office at The Capital, Unit No 1203,
                12th floor, B Wing, Plot No. C-70, G Block, Bandra Kurla Complex, Mumbai – 400 051.
                Unless otherwise mentioned, Alpha Fintech Private Limited will be the counterparty
                (seller) while making your investment.
            </p>

        </td>
    </tr>
</table>