<table
    style='width: 100%; margin-top: 25px; padding-top: 25px; border-top: 1px solid #eaeaec'
    align='center'
    class='w-full'
    cellpadding='0'
    cellspacing='0'
    role='presentation'
>
    <tr>
        <td align='center'>
            <p
                style='margin-bottom: 5px; margin-top: 6px; font-size: 16px; font-weight: 600; line-height: 24px; color: #51545E'
            >
                Connect With Us
            </p>
            <p style='margin-top: 6px; font-size: 14px; line-height: 24px; color: #51545E'>
                Email: connect@incredmoney.com | Website: www.incredmoney.com
            </p>
            <p style='margin-top: 6px; font-size: 14px; line-height: 24px; color: #51545E'>
                Phone: +91 8591871028 | +91 8928250817
            </p>
            <p>
                <a
                    href='https://www.facebook.com/IncredMoney'
                    style='height: 35px;width:35px; text-decoration:none;'
                >
                    <img
                        src='https://assets.incredmoney.com/images/marketingLogos/facebook.png'
                        alt='Facebook'
                        style='height: 35px;width:35px;margin-right: 2%;'
                    />
                </a>
                <a
                    href='https://x.com/IncredMoney'
                    style='height: 35px;width:35px; text-decoration:none;'
                >
                    <img
                        src='https://assets.incredmoney.com/images/marketingLogos/twitter.png'
                        alt='X'
                        style='height: 35px;width:35px;margin-right: 2%;'
                    />
                </a>
                <a
                    href='https://www.linkedin.com/company/incredmoney/about/?viewAsMember=true'
                    style='height: 35px;width:35px; text-decoration:none;'
                >
                    <img
                        src='https://assets.incredmoney.com/images/marketingLogos/linkedIn.png'
                        alt='LinkedIn'
                        style='height: 35px;width:35px;margin-right: 2%;'
                    />
                </a>
                <a
                    href='https://www.instagram.com/incredmoney'
                    style='height: 35px;width:35px; text-decoration:none;'
                >
                    <img
                        src='https://assets.incredmoney.com/images/marketingLogos/instagram.png'
                        alt='Instagram'
                        style='height: 35px;width:35px;margin-right: 2%;'
                    />
                </a>
            </p>

        </td>
    </tr>
</table>