<table
    style='margin-top: 25px; padding-top: 25px; border-top: 1px solid #eaeaec '
    cellpadding='0'
    cellspacing='0'
    role='presentation'
>
    <tr>
        <td>
            <p
                style='margin-bottom: 5px; margin-top: 6px; font-size: 16px; font-weight: 600; line-height: 24px; color: #51545E ; text-align:center; margin:auto'
            >
                Disclaimer
            </p>
            <p
                style='margin-bottom: 5px; margin-top: 6px; font-size: 12px; line-height: 24px; color: #51545E'
            >
                Investments in debt securities/municipal debt securities/securitised debt
                instruments are subject to risks including delay and/or default in payment. Read all
                the offer related documents carefully. The information contained herein is only to
                enable the Investor (or Lender) to make an informed decision. Any decision taken by
                the investor on the basis of this information is the sole responsibility of the
                Investor (Lender) and Bidd is not liable. Bidd has partnered with a third party
                platform regarding investments in various alternate investment opportunities. Bidd
                will not be responsible for the full or partial loss of the principal and/or
                interest of the investor’s investment. Bidd is only an intermediary introducing
                these third party services and is not responsible for any agreement you sign with
                the third party. Oro Financial Consultants Pvt Ltd is the Stock broker entity
                operating in cash and debt segment having SEBI registration number: INZ000312534,
                Registered as an Online Bond Platform Provider in BSE Ltd.(Member Code: 6821) and
                National Stock Exchange (Member Code: 90389) Registered Office : Unit No 1203, 12th
                Floor, B Wing, The Capital, C-70, G Block, BKC, Bandra (E), Mumbai – 400051
            </p>

        </td>
    </tr>
</table>