<tr>
    <td
        align='center'
        class='email-masthead'
        style='padding-top: 25px; padding-bottom: 25px; text-align: center; font-size: 16px'
    >
        <a
            href='https://www.biddeasy.com'
            class='email-masthead_name'
            style='text-shadow: 0 1px 0 #ffffff; font-size: 16px; font-weight: 700; color: #a8aaaf; text-decoration: none;'
        >
            <img
                src='https://assets.partner.incredmoney.com/logos/biddeasy/default.png'
                width='200'
                alt='Bidd'
            />
        </a>
    </td>
</tr>