<table
    align='center'
    class='email-footer sm-w-full'
    style='margin-left: auto; margin-right: auto; width: 570px; text-align: center'
    cellpadding='0'
    cellspacing='0'
    role='presentation'
>
    <tr>
        <td align='center' style='padding: 45px; font-size: 16px;'>
            <p
                style='font-weight: 800; padding-bottom: 0px; margin-top: 6px; text-align: center; font-size: 13px; color: #a8aaaf;'
            >
                INCRED VALUE PLUS PRIVATE LIMITED</p>
            <p
                style='margin-bottom: 24px; text-align: center; font-size: 13px; line-height: 24px; color: #a8aaaf;'
            >
                An AMFI registered Mutual Fund Distributor</p>
            <p style='margin-bottom: 10px; text-align: center; font-size: 13px; color: #a8aaaf;'>
                Registered and Corporate Office:</p>
            <p
                style='margin-bottom: 10px; text-align: center; font-size: 13px; line-height: 24px; color: #a8aaaf;'
            >
                Unit No. 1203, 12th floor, B Wing, The Capital, Plot No. C - 70, G Block, Bandra -
                Kurla Complex, Bandra East, Mumbai - 400 051</p>
            <p
                style='margin-bottom: 0px; text-align: center; font-size: 13px; line-height: 24px; color: #a8aaaf;'
            >
                CIN: U66301MH2023PTC413554 | Tel – 022 68446100 | Email –
                {{support_email}}</p>
        </td>
    </tr>
</table>